.react-calendar {
    font-size: 18px;
}

.calendarCustomDate {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
  
.calendarCustomDate .customTitle {
    font-size: 0.8em;
    text-align: center;
}