.diary-view-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.exercise {
  margin-top: 20px;
  width: 80%;
}

h1, h2 {
  color: #333;
}
